table {
    width: 100%;
  }
  
  table, th, td {
    border: 1px solid lightgray;
    padding: 0.5rem;
    border-collapse: collapse;
  }
  
  th {
    background-color: #007dba !important;
    color: white;
  } 
button{
  background-color: #cceeff  ;
}

.bank{
  max-height: 200px;
}